DATABASE_URL=postgresql+psycopg://cev:cev@localhost:5432/cev
MINVU_BASE_URL=https://calificacionenergeticaweb.minvu.cl
DOWNLOAD_CONCURRENCY=8
PDF_DIR=/tmp/cev_pdfs
NOCODEBACKEND_INSTANCE=
NOCODEBACKEND_SECRET_KEY=
NOCODEBACKEND_ACCESS_TOKEN=
